h1.quiz_header_h1 {
    width: 100%;
    height: auto;
}

span.quiz_header_span {
    width: 100%;
    height: 50%;
}

/* main */
main {

}

div.wrap {
    width: 100%;
    height: 100%;
    display: none;
}

.on {
    display: block !important;
}