body {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 5% 20% 65% 10%;
    grid-template-areas: 
        "nav"
        "header"
        "main"
        "footer";
}


/* header */

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

h1.quiz_header_h1 {
    width: 100%;
    height: 50%;
}

span.quiz_header_span {
    width: 100%;
    height: 50%;
}

/* main */
main {
    display: grid;
}

div.wrap {
    width: 100%;
    height: 100%;
    display: none;
}

.on {
    display: block !important;
}