{% load static %}
<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175658697-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-175658697-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "css/default.css" %}'>
    <title>nilliria</title>
    <!-- favicon -->
    {% block head %}
    {% endblock head %}
    <link rel="shortcut icon" href='{% static "img/favicon.ico" %}' type="image/x-icon">
    <link rel="icon" href='{% static "img/favicon.ico" %}' type="image/x-icon">   
    <meta name="theme-color" content="#ffffff">


</head>
<body>
    <nav>
        <img class='nav_left' src='{% static "img/hamburger.svg" %}'id='sliderTrigger' onclick='showSlider()'>
    </nav>
    <header>
        {% block header %}
        {% endblock header %}
    </header>
    <main>
        {% block main %}
        {% endblock main %}
    </main>
    <footer>
        {% block footer %}
        {% endblock footer %}
        <p>Copyright ⓒ 2020 nilliria All rights reserved.</p>
        <p>nilliria2020@gmail.com</p>
    </footer>

    <!-- slider menu -->
    <div class='menu_slider' id='slider'>
        <img class='slider logo' src='{% static "img/slider_logo.png" %}'>

        <ul class='slider'>
            <li class='menu_1' onclick='location.href="{% url 'map' %}"'>세계지도로 가상 여행</li>
            <li class='menu_2' onclick='location.href="{% url 'quiz' %}"'>딱맞는 이야기 테스트</li>
            <li class='menu_4' onclick='location.href="{% url 'about' %}"'>about</li>
        </ul>
    </div>
    <div class='page_fill' id='pageFill' onclick='hideSlider()'>
    </div>
    <!-- -->

<script>
    let trigger = document.getElementById('sliderTrigger');
    let slider = document.getElementById('slider');
    let pageFill = document.getElementById('pageFill');
    let body = document.getElementsByTagName('body')[0];
    let currentViz = window.getComputedStyle(slider).getPropertyValue('display');

    function showSlider() {
        trigger.click();
        slider.classList.add("active", "slider_active");
        pageFill.classList.add("active", "page_fill_active");
        body.classList.add("scroll_lock");
        
        
    }

    function hideSlider() {
        pageFill.click();
        slider.classList.remove("active", "slider_active");
        pageFill.classList.remove("active", "page_fill_active");
        body.classList.remove("scroll_lock");
    }

</script>

    {% block script %}
    {% endblock script %}

</body>
</html>