{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href='{% static "css/detail.css" %}'>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

{% endblock head %}

{% block main %}
<h1 class='detail_main_h1'>{{ obj.title }}</h1>
<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="player" style="width: 100%; height: 40%;"></div>


<ul class='detail_main_ul tab' id='tab'>
    {% if perf_r%}
    <li class='etc' id='etc'>lang</li>
    {% endif %}
    {% if obj.korean %}
    <li class='kor' id='kor' >한국어</li>
    {% endif %}
    {% if obj.english %}
    <li class='eng' id='eng' >eng</li>
    {% endif %}
    {% if obj.chinese %}
    <li class='mdr' id='mdr' >汉语</li>
    {% endif %}
    {% if obj.turkmen %}
    <li class='trk' id='trk' >Türkmen</li>
    {% endif %}
    <li class='etc' id ='etc' >more</li>
</ul>


<br/>
<div class='detail_main_div wrap tab_con' id="tab_con">
    {% if perf_r %}
    <div class='detail_main_div text' id='etc'>
        {{ perf_r }}
    </div>
    {% endif %}
    {% if obj.korean %}
    <div class='detail_main_div text kor on' id='kor'>
        {{ obj.korean }}
    </div>
    {% endif %}
    {% if obj.english %}
    <div class='detail_main_div text eng' id='eng'>
        {{ obj.english }}
    </div>
    {% endif %}
    {% if obj.chinese %}
    <div class='detail_main_div text mdr' id='mdr'>
        {{ obj.chinese }}
    </div>
    {% endif %}
    {% if obj.turkmen %}
    <div class='detail_main_div text trk' id='trk'>
        {{ obj.turkmen }}
    </div>
    {% endif %}
    <div class='detail_main_div text etc' id='etc'>
        <p>원하는 언어를 고르시면 자동 번역 됩니다.</p>
        <form action='' method='POST' name='lang'>
            <ul>
                <li>
                    <label for='eng'>english</label>
                    <input class='etc lang' value='en' type='radio' name='lang' id='eng' >
                </li>
                <li>
                    <label for='cn'>中文</label>
                    <input class='etc lang' value='zh-CN' type='radio' name='lang' id='cn' >
                </li>
                <li>
                    <label for='ja'>日本語</label>
                    <input class='etc lang' value='ja' type='radio' name='lang' id='ja' >
                </li>
                <li>
                    <label for='vi'>Tiếng Việt</label>
                    <input class='etc lang' value='vi' type='radio' name='lang' id='vi' >
                </li>
                <li>
                    <label for='id'>bahasa Indonesia</label>
                    <input class='etc lang' value='id' type='radio' name='lang' id='id' >
                </li>
                <li>
                    <label for='th'>ไทย</label>
                    <input class='etc lang' value='th' type='radio' name='lang' id='th' >
                </li>
                <li>
                    <label for='de'>Deutsche</label>
                    <input class='etc lang' value='de' type='radio' name='lang' id='de' >
                </li>
                <li>
                    <label for='ru'>русский</label>
                    <input class='etc lang' value='ru' type='radio' name='lang' id='ru' >
                </li>
                <li>
                    <label for='es'>Español</label>
                    <input class='etc lang' value='es' type='radio' name='lang' id='es' >
                </li>
                <li>
                    <label for='it'>italiano</label>
                    <input class='etc lang' value='it' type='radio' name='lang' id='it' >
                </li>
                <li>
                    <label for='fr'>french</label>
                    <input class='etc lang' value='fr' type='radio' name='lang' id='fr' >
                </li>
                <li class='submit_btn'>
                    <button type='submit' id='submit' class='papago'>번역</button>
                </li>
            </ul>
        </form>
    </div>
    <!-- Example single danger button -->
</div>

<!-- source -->
<div class='playlist wrap'>
    <iframe width="100%" height="auto" src="{{ pl_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock main %}

{% block script %}
<script>

//youtube iframe
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
        height: '100%;',
        width: '100%;',
        videoId: '{{ youtube_id }}',
        events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
        }
    });
    }

    function onPlayerReady(event) {
    event.target.playVideo();
    }
    var done = false;
    function onPlayerStateChange(event) {

    }
    function stopVideo() {
    player.stopVideo();
    }

</script>

<script>
$(function () {	
	tab('#tab',0);	
});

function tab(e, num){
    var num = num || 0;
    var menu = $(e).children();
    var con = $(e+'_con').children();
    var select = $(menu).eq(num);
    var i = num;

    select.addClass('on');
    con.eq(num).show();

    menu.click(function(){
        if(select!==null){
            select.removeClass("on");
            con.eq(i).hide();
        }

        select = $(this);	
        i = $(this).index();

        select.addClass('on');
        con.eq(i).show();
    });
}

$(function(){
  $('.lang').click(function(){
    $('#submit').click();
    $('detail_main_div.text').hide();
    $('#etc').click();
  });
});

</script>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


{% endblock script %}

