{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href='{% static "css/list.css" %}'>
{% endblock head %}

{% block main %}

<div class='ex'>
    <h1 class='quiz_header_h1'>사랑 이야기 찾기</h1>
    <p class='quiz_header_span'>지금 나에게 딱 어울리는 이야기들</p>
</div>


<!-- show results -->

{% for obj in result %}
<a href='{% url "detail" obj.pk %}'>
    <div class='lists items'>
        <img class='thumbs' src="http://img.youtube.com/vi/{{ obj.youtube_url|slice:"17:" }}/0.jpg">
        <p class='title'>{{ obj.title }}</p>
    </div>
</a>
{% endfor %}


{% if content %}
    {% for c in content %}
        <a href="{% url 'detail' c.pk %}">
        <div class='lists items'>
            {{ c.title }}
        </div>
        </a>
    {% endfor %}
{% endif %}

{% endblock main %}